{% extends "base.html" %}

{% block content %}

{% if question %}
<div><h1>{{ question.question_text }}</h1></div>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'questionaire:answer' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="question_id" value="{{question.id}}"/>
    <input type="hidden" name="answer_set_id" value="{{answer_set.id}}"/>

    {% if answer and answer.yesnoanswer != None %}
        
            <input type="radio" name="answer_text" id="yes" value="yes" {% if answer.yesnoanswer.yes %}checked {% endif %}/>
            <label for="yes">Yes</label><br />

            <input type="radio" name="answer_text" id="no" value="no" {% if not answer.nonoanswer.yes %}checked {% endif %}/>
            <label for="no">No</label><br />
    {% else %}
        <input type="radio" name="answer_text" id="yes" value="yes" />
        <label for="yes">Yes</label><br />

        <input type="radio" name="answer_text" id="no" value="no" />
        <label for="no">No</label><br />
    {% endif %}

<input type="submit" value="Submit" />
</form>
{% endif %}

{% endblock %}
